<div class="row">
  <div class="col-12 col-md-5 offset-md-4">
    <div class="bill-component">
      <div class="row">
        <div class="col-12 text-center">
          <h5>Bill Created</h5>
        </div>
        <div class="col-11 offset-1">
          <p class="bill-label">Name: <span class="bill-value">{{bills.name}}</span></p>
        </div>
        <div class="col-12 offset-1">
          <p class="bill-label">Price: <span class="bill-value">{{bills.price}}</span></p>
        </div>
      </div>
    </div>
  </div>
</div>
