@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body{
    background-color: #222;
}
a:hover, button:hover {
    cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.container{
    background-color: white;
}

h3 {
    font-weight: 300;
    line-height: 1.1;
}

.bill-component {
    margin-top: 2em;
    padding: 1em 0em;
    border-radius: 1em;
    border: 1px dashed #22A3F3;
}

.summary {
    margin-top: 2em;
}

.total {
    font-size: 1.5em;
    color: #087E18;
    font-weight: 300;
}

.error {
    color: #dc3545;
}

.full-width {
    width: 100%;
}

.header {
    font-size: 1.5em;
    font-weight: 400;
    color: 
}